/* חלוקה לנושאים ולתתי נושאים: סדר לפי סדר העמוד ולוגיקה */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;


    background-color: rgb(196, 220, 217);
    background-image: url('../sources/icons/1111.png');
    background-repeat: repeat;
    background-size: 650px 800px;

    /* זמני */
    animation: moveUp 20000s linear infinite;
}

@keyframes moveUp {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 +100000%;
    }
}


header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 140px;

    border-bottom: 2px solid rgb(236, 186, 186);
    background-color: rgba(32, 31, 32, 0.927);
}

.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid rgb(246, 231, 231);
    background-image: url('../sources/image/logo.jpeg');
    background-size: 101px 89px;
}


.main {
    display: flex;
    flex-direction: column;

    width: 90%;
    min-width: 250px;

    margin-top: 30px;
    margin-bottom: 30px;
    /* padding: 20px;
    padding-top: 0; */

    background-color: rgba(255, 255, 255, 0.418);
    backdrop-filter: blur(1px);
    box-shadow: 0 4px 8px rgba(90, 89, 89, 0.103);

    text-align: center;
    border: 2px solid rgba(255, 253, 253, 0.498);
    border-radius: 10px;
}

.main-head{
    display: flex;
    align-items: center;
    direction: rtl;

    width: 100%;
    height: 50px;

    margin-bottom: 30px;

    border-bottom: 2px solid rgba(255, 253, 253, 0.256);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    background-color:rgba(255, 255, 255, 0.502);
}

.add-family-button{
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    height: 35px;
    width: 35px;

    margin-right: 10px;

    border: 3px solid rgba(255, 255, 255, 0.598);
    border-radius: 4px;
}


.icon-add-family{
    background-image: url('../sources/svg/house-chimney-solid.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 4.5px;
    filter:contrast(0.5%);
}

.add-family-button:hover{
    border: 3px solid rgb(255, 255, 255);
    background-color: rgba(130, 229, 254, 0.292);
}



.family-added{
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 3px solid rgba(226, 226, 226, 0.586);
    border-radius: 10px;
}



/* add family */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.308);
    backdrop-filter: blur(0.3px);
}


.modal-content {
    background-color: #ffffff;
    display: grid;
    
    width: 80%;
    max-width: 500px;
    min-width: 200px;

    margin: 250px auto;
    padding: 20px;
    
    border: 3px solid rgba(226, 226, 226, 0.586);
    border-radius: 10px;
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close {
    color: #aaa;
    direction: rtl;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 7px;
}

.family-submit{
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 3px solid rgba(226, 226, 226, 0.586);
    border-radius: 10px;
}

.family-submit:hover{
    border: 3px solid rgba(226, 226, 226, 0.922);
    background-color: rgba(214, 250, 251, 0.651);


}

.family-added{
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 3px solid rgba(226, 226, 226, 0.586);
    border-radius: 10px;
}

/* ###### */

.families-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between ;
    
}

/* @media (max-width: 1200px){
    .families-body{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .families-body{
        width: 150px;
    }
}

@media (max-width: 1000px){
    .families-body{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .families-body{
        width: 150px;
    }
}

@media (max-width: 800px){
    .families-body{
    grid-template-columns: 1fr 1fr 1fr;
    }
    .families-body{
        width: 150px;
        
    }

}
@media (max-width: 600px){
    .families-body{
    grid-template-columns: 1fr 1fr;
    }
    .families-body{
        width: 150px;
    }

}

@media (max-width: 400px){
    .families-body{
    grid-template-columns: 1fr;
    }
    .families-body{
        width: 150px;
    }

}
 */
.family-body{
    width: 150px;
    height: 130px;
    margin: 0 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

}

.family-button {
    display: flex;
    width: 150px;
    height: 100%;
    background-color: rgba(193, 15, 15, 0);
    border: 0;

}

.family-head {
    width: 150px;
    margin-bottom: 10px;
}

.head_border {
    padding: 10px;
    width: 150px;
    color: white;
    font-size: 1.5rem;
    background-color: rgba(54, 54, 54, 0.744);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid rgb(63, 0, 0);
}

.bold{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.first{
    margin-top: 150px;
}

.no-families-message {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    background-color: #f9f9f9;
    border: 2px dashed #ccc;
    border-radius: 10px;
    margin: 20px 0;
    
}
