<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="background-icons">

    <header>
        <img id="head" class="logo">
    </header>

    <main>
        {%for family in familys%}
        <form action="{{url_for('family',idfamily=family.id)}}">
            <button>
                <div class="temp">
                    <div class="temp_border">משפחת {{family.Fname}}</div>
                </div>
            </button>
        </form>


        {%endfor%}


        <br><br><br>

        <form method="post">
            <h1>משפחה חדשה</h1>
            <input type="text" name="name_family" placeholder="הוסף משפחה חדשה" required>
            <input type="text" name="code1" placeholder="קוד אבא" required>
            <input type="text" name="code2" placeholder="קוד אמא" required>
            <button>הוסף</button>
        </form>

    </main>
    <script src="../static/js/func.js"></script>
</body>

</html>